<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120262655-1"></script>
  <script>
  window.dataLayer = window.dataLayer || []

  function gtag () {dataLayer.push(arguments)}

  gtag('js', new Date())

  gtag('config', 'UA-120262655-1')
  </script>

  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="theme-color" content="#157878"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
  <style>
  li ul {
    margin-left: 1rem;
  }
  </style>
</head>
<body>

<nav class="blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">{{ site.title | default: site.github.repository_name }}</a>
    <ul class="right">
      {% if page.lang == 'fr'%}
      {% assign lng = 'en' %}
      {% assign path = '/en' | append: page.url %}
      {% else %}
      {% assign lng = 'fr' %}
      {% assign path = page.url | replace_first: 'en/', '' %}
      {% endif %}
      <li>
        <a href="{{ path }}" style="padding-top: 5px;">
          <img src="/assets/img/flags/{{ lng }}.svg" alt="{{ lng }}" style="height: 50px;">
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="min-height: 60vh">
  <div class="section">
    {{ content }}
  </div>
  <br><br>
</div>

<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bio</h5>
        <p class="grey-text text-lighten-4">
          Je suis un développeur Français, principalement passionné par les technologies Front Web.<br/>
          Je vous propose ici quelques projets, pour la plupart totalement libres (MIT).<br/>
          N'hésitez pas à les réexploiter ou à contribuer sans limitation !
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Languages & frameworks</h5>
        <ul>
          <li>
            <a class="white-text" href="http://php.net/">PHP</a>
            <ul>
              <li>
                <a class="white-text" href="https://symfony.com/">Symfony</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="white-text" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript</a>
            <ul>
              <li><a class="white-text" href="https://fr.vuejs.org/">Vue.js</a></li>
              <li><a class="white-text" href="https://jquery.com/">jQuery</a></li>
              <li><a class="white-text" href="http://vanilla-js.com/">Vanilla JS</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Projects</h5>
        <ul>
          {% for project in site.data.projects %}
          <li><a class="white-text">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Flûte corporation
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
(function ($) {
  $(function () {

    M.AutoInit()

  }) // end of document ready
})(jQuery) // end of jQuery name space
</script>

</body>
</html>
